<footer class="py-6  bg-stone-800">
  <div class="flex justify-around items-center mb-6">
    <nav class="flex gap-6">
      <a href="#" class="text-gray-200 hover:underline">Home</a>
      <a href="#" class="text-gray-200 hover:underline">Features</a>
      <a href="#" class="text-gray-200 hover:underline">Pricing</a>
      <a href="#" class="text-gray-200 hover:underline">FAQs</a>
      <a href="#" class="text-gray-200 hover:underline">About</a>
    </nav>
    <div class="flex gap-4">
      <a href="https://www.linkedin.com/in/murad-kamil-b3b744337/" class="bg-stone-700 p-1 rounded hover:bg-stone-600 transition">
        <img class="w-10 h-10" src="/linkedin.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/muradkamill" class="bg-stone-700 p-1 rounded hover:bg-stone-600 transition">
        <img class="w-10 h-10" src="/github.png" alt="GitHub">
      </a>
      <a href="https://www.instagram.com/muradkamill/" class="bg-stone-700 p-1 rounded hover:bg-stone-600 transition">
        <img class="w-10 h-10" src="/instagram.png" alt="Instagram">
      </a>
      <a href="https://buymeacoffee.com/muradkamil" class="bg-stone-700 p-1 rounded hover:bg-stone-600 transition">
        <img class="w-10 h-10" src="/buymeacoffee.png" alt="Buy Me A Coffee">
      </a>
    </div>
  </div>
<br>
<br>
@if (isAuth && response == "") {
  <div class="flex justify-center items-center gap-3 mb-6">
    <label for="suggestion" class="text-gray-200">Any Suggestion?</label>
    <input type="text" id="suggestion" name="suggestion" class="bg-stone-700 border border-stone-500 text-white rounded px-2 py-1 focus:outline-none focus:ring-2 focus:ring-amber-600" #suggestion>
    <button type="submit" class="bg-amber-600 hover:bg-amber-700 text-white border rounded px-3 py-1" (click)="onClickSuggestion(suggestion.value)">Send</button>
  </div>
}
  @if (response != "") {
    <div class="bg-green-600/10 text-green-600 p-2 rounded text-center mb-6">{{response}}</div>
  }
  <p class="text-center text-gray-200">&copy; 2025 Company, Inc</p>
</footer>
