<div class="bg-stone-700">
<div class="mx-2 mb-[-2rem] relative bg-stone-700">
  <div class="flex items-center">
    <button class="flex items-center bg-stone-700  text-white rounded-md" (mouseenter)="onHover()" (mouseleave)="outHover()">
      <img class="h-9 w-7" src="/menu.png" alt="" />
      <div class="ms-2 text-xl text-white hover:bg-amber-700/70">All Categories</div>
    </button>

    <div class="flex h-7 gap-4 md:ms-16 overflow-hidden">
      @for (category of categories; track category) {
        <button class="bg-stone-700 hover:bg-amber-700/70 text-white rounded-md" (click)="getProducts(category.CategoryId)">
          {{ category.CategoryName }}
        </button>
      }
    </div>
  </div>
</div>

<br />

@if (hoverEl) {
  <div
    class="absolute top-[101px] mx-3 mt-5 grid grid-cols-3 md:grid-cols-5 bg-stone-700 border border-stone-500 z-10 rounded-md"
    (mouseenter)="onHover()"
    (mouseleave)="outHover()"
  >
    @for (category of categories; track category) {
      <div class="mx-8">
        <button class="font-bold text-white bg-stone-600 hover:bg-amber-700/70 rounded-md" (click)="getProducts(category.CategoryId)">
          {{ category.CategoryName }}
        </button>
        <br />
        @for (subCategory of getSubCategories(category.CategoryName); track subCategory) {
          <button
            class="text-gray-200 bg-stone-500 hover:bg-amber-700/70 rounded-md"
            (click)="getProductsBySubcategory(subCategory.SubCategoryId, category.CategoryId)"
          >
            {{ subCategory.SubCategoryName }}
          </button>
        }
      </div>
    }
  </div>
}
</div>
