<div class="p-8 space-y-10 bg-linear-to-br from-stone-800 to-stone-700 min-h-screen">
  <h2 class="text-3xl font-bold text-center mb-10 text-white">
    Courier Dashboard
  </h2>

  <div class="border border-stone-500 rounded-lg p-6 text-center shadow-md hover:shadow-lg transition-shadow duration-300">
    <h3 class="text-xl font-semibold mb-2 text-white">Current Balance</h3>
    <p class="text-2xl font-bold text-white">{{balance | number:'1.2-2'}} AZN</p>
  </div>

  <div>
    <h3 class="text-xl font-semibold mb-5 text-white">Active Deliveries</h3>
    @if (!activeCarts || activeCarts.length === 0) {
    <div class="text-center text-gray-300 italic p-6 border border-stone-500 rounded-lg bg-stone-700 shadow-sm">
      No active deliveries at the moment.
    </div>
    }
    @else {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (activeCart of activeCarts; track $index) {
      <div
        class="bg-linear-to-br rounded-xl p-5 shadow-md hover:shadow-xl transition-shadow duration-300 border border-stone-500 hover:scale-[1.03] transform">
        <p class="text-white"><strong>Customer :</strong> {{activeCart.PersonName}} {{activeCart.PersonSurName}}</p>
        <p class="mb-3 text-white"><strong>Product Name :</strong> {{activeCart.ProductName}}</p>
        <p class="mb-3 text-white"><strong>Courier Fee :</strong> {{activeCart.CourierFee}}</p>
        <p class="mb-3 text-white"><strong>Order Weight :</strong> {{activeCart.Weight}}</p>

        <p class="mb-3 text-white"><strong>Location</strong> ...</p>


        <button (click)="markAsDelivered(activeCart.Id)"
          class="bg-amber-600 hover:bg-amber-700 text-white font-semibold py-2 px-5 rounded-lg transition transform hover:scale-105 shadow-sm hover:shadow-md mt-2">
          Mark as Delivered

        </button>
      </div>
      }
    </div>
    }
  </div>

  <div>
    <h3 class="text-xl font-semibold mb-5 text-white">Available Orders</h3>
    @if (!pendingCarts || pendingCarts.length === 0) {
    <div class="text-center text-gray-300 italic p-6 border border-stone-500 rounded-lg bg-stone-700 shadow-sm">
      No available orders at the moment.
    </div>
    }
    @else {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (pendingCart of pendingCarts; track $index) {
      <div
        class="bg-linear-to-br rounded-xl p-5 shadow-md hover:shadow-xl transition-shadow duration-300 border border-stone-500 hover:scale-[1.03] transform">
        <p class="text-white"><strong>Customer :</strong> {{pendingCart.PersonName}} {{pendingCart.PersonSurname}}</p>
        <p class="mb-3 text-white"><strong>Product Name :</strong> {{pendingCart.ProductName}}</p>
        <p class="mb-3 text-white"><strong>Courier Fee :</strong> {{pendingCart.CourierFee}}</p>
        <p class="mb-3 text-white"><strong>Distance(km) :</strong> {{pendingCart.DistanceKm}}</p>
        <p class="mb-3 text-white"><strong>Order Weight :</strong> {{pendingCart.Weight}}</p>
        <p class="mb-3 text-white"><strong>Location</strong> ...</p>
        <button (click)="acceptOrder(pendingCart.CartId,pendingCart.CourierFee)"
          class="bg-amber-600 hover:bg-amber-700 text-white font-semibold py-2 px-5 rounded-lg transition transform hover:scale-105 shadow-sm hover:shadow-md mt-2">
          Accept Order
        </button>
      </div>
      }
    </div>
    }
  </div>



  <div>
    <h3 class="text-xl font-semibold mb-5 text-white">Delivered Orders</h3>
    @if (!deliveredCarts || deliveredCarts.length === 0) {
    <div class="text-center text-gray-300 italic p-6 border border-stone-500 rounded-lg bg-stone-700 shadow-sm">
      No delivered orders at the moment.
    </div>
    }
    @else {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (deliveredCart of deliveredCarts; track $index) {
      <div
        class="bg-linear-to-br from-stone-700 to-stone-600 rounded-xl p-5 shadow-md hover:shadow-xl transition-shadow duration-300 border border-stone-500 hover:scale-[1.02] transform opacity-80">
        <p class="text-white"><strong>Customer :</strong> {{deliveredCart.PersonName}} {{deliveredCart.PersonSurname}}</p>
        <p class="mb-3 text-white"><strong>Product Name :</strong> {{deliveredCart.ProductName}}</p>
        <p class="mb-3 text-white"><strong>Courier Fee :</strong> {{deliveredCart.CourierFee}}</p>
        <p class="mb-3 text-white"><strong>Distance(km) :</strong> {{deliveredCart.DistanceKm}}</p>
        <p class="mb-3 text-white"><strong>Order Weight :</strong> {{deliveredCart.Weight}}</p>
      </div>
      }
    </div>
    }
  </div>

</div>
