<div class="flex grow flex-col bg-stone-700 mx-2 min-h-96">
  <h1 class="text-2xl font-bold text-white text-center my-2">
    Results For : <strong>{{productName}}</strong>
  </h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 mt-3">
    @if(products.length > 0) {
    @for (product of products; track $index) {
    <app-product-card [product]="product"></app-product-card>

    }
    }
    @else {
    <div class="col-span-full text-center text-gray-200 mt-10">
      No products found.
    </div>
    }
  </div>
</div>
